<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div class="container" style="margin-left: 40%; margin-top: 15%">
    <a aria-pressed="true" class="btn btn-primary btn-lg active" href="/room" role="button">Create room</a>
    <a aria-pressed="true" class="btn btn-primary btn-lg active" href="/room/roomList" role="button">Room List</a>
</div>
</body>
</html>